
/* ================================= 
  Flexbox
==================================== */

.container {
	display: flex;
	min-height: 50vh;

	/*align item to center*/
	justify-content: center;
	/*align-items: center;*/
	
	}